<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddzhuan.manage.dao.jumi.TestDao">

	<select id="queryTestList" resultType="Test">
		SELECT * FROM chainclub.jm_test_t
	</select>

</mapper>