<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddzhuan.manage.dao.datav.DOrderDao">

	<insert id="insertOrder">
		INSERT INTO chainclub.ls_datav_order_t (
			id,
			productid,
			productname,
			categoryid,
			categoryname,
			storeid,
			storename,
			oid,
			oname,
			areaid,
			areaname,
			userid,
			username,
			usersex,
			userage,
			usertype,
			costprice,
			originalprice,
			discount,
			price,
			profit,
			status,
			createtime,
			updatetime
		) VALUES (
			#{id, jdbcType=BIGINT},
			#{productId, jdbcType=VARCHAR},
		  	#{productName, jdbcType=VARCHAR},
			#{categoryId, jdbcType=VARCHAR},
			#{categoryName, jdbcType=VARCHAR},
			#{storeId, jdbcType=VARCHAR},
			#{storeName, jdbcType=VARCHAR},
			#{oId, jdbcType=VARCHAR},
			#{oName, jdbcType=VARCHAR},
			#{areaId, jdbcType=VARCHAR},
			#{areaName, jdbcType=VARCHAR},
			#{userId, jdbcType=VARCHAR},
			#{userName, jdbcType=VARCHAR},
			#{userSex, jdbcType=INTEGER},
			#{userAge, jdbcType=INTEGER},
			#{userType, jdbcType=INTEGER},
			#{costPrice, jdbcType=DOUBLE},
			#{originalPrice, jdbcType=DOUBLE},
			#{discount, jdbcType=DOUBLE},
			#{price, jdbcType=DOUBLE},
			#{profit, jdbcType=DOUBLE},
			#{status, jdbcType=INTEGER},
			sysdate,
			sysdate
		)
	</insert>

</mapper>