<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddzhuan.manage.dao.datav.SupplierDao">

	<select id="queryTotalByOId" resultType="SupplierTotal">
		SELECT * FROM chainclub.ls_datav_ptotal_t WHERE oid = #{oId}
	</select>

	<select id="querySupplierRankList" resultType="SupplierRank">
		SELECT id, sid, sname, amount, rank, createtime, updatetime, rownum rn FROM
		(SELECT * FROM chainclub.ls_datav_pamount_t WHERE oid = #{oId} ORDER BY amount DESC
		) WHERE rownum &lt;= #{size}
	</select>

	<select id="querySupplierQuarter" resultType="SupplierQuarter">
		SELECT * FROM chainclub.ls_datav_pquarter_t WHERE oid = #{oId} AND year = #{year} AND quarter = #{quarter}
	</select>

	<select id="querySupplierAreaList" resultType="SupplierArea">
		SELECT id, oid, oname, areacode, areaname, amount, growth, createtime, updatetime, rownum rn FROM
		(SELECT * FROM chainclub.ls_datav_parea_t WHERE oid = #{oId}
			<if test="type != null and type == 1">
				ORDER BY amount DESC
			</if>
			<if test="type != null and type == 2">
				ORDER BY growth DESC
			</if>
		) WHERE rownum &lt;= #{size}
	</select>


</mapper>