<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddzhuan.manage.dao.BaseDao">

	<!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->
	<!--<cache type="org.mybatis.caches.ehcache.EhcacheCache" />-->
	<select id="querySysDateTime" resultType="date" >
		select sysdate() from dual
	</select>

</mapper>